<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>react-markdown</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<!--
    <link href="/dist/css/react-markdown.min.css" rel="stylesheet">
-->

</head>
<body>
    <div id="app"></div>
    <!--<script src="/node_modules/react/dist/react.js"></script>
    <script src="/node_modules/react-dom/dist/react-dom.js"></script>-->
    <script src="/dist/react-markdown.js"></script>
   <!-- <script src="/dist/js/react-markdown.min.js"></script>-->
    <script>
       var editor=new Editor('app',{
           toolbars:[
               {
                   name: "bold",
                   toolbarIcon:"fa-bold"
               },
               {
                   name: "italic",
                   toolbarIcon:"fa-italic"
               },
               {
                   name: "link",
                   toolbarIcon:"fa-link"
               },
               {
                   name: "blockquote",
                   toolbarIcon:"fa-quote-left"
               },
               {
                   name: "code",
                   toolbarIcon:"fa-code"
               },
               {
                   name: "image",
                   toolbarIcon:"fa-picture-o"
               },
               {
                   name: "test",
                   toolbarIcon:"fa-bug",
                   toolbarHandlers:function () {
                       this.shortCutText("**加粗文字**", 2, 6)
                   }
               }
           ],
        })
    </script>
</body>
</html>