<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>react-markdown</title>
    <link href="/dist/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/dist/css/react-markdown.min.css" rel="stylesheet">

</head>
<body>
    <div id="app"></div>
    <script src="/node_modules/react/dist/react.js"></script>
    <script src="/node_modules/react-dom/dist/react-dom.js"></script>
    <script src="/dist/js/react-markdown.min.js"></script>
    <script>
       var editor=new Editor('app',{})
    </script>
</body>
</html>