<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/react-markdown.min.css' />
  </head>
  <body>
    <script src="../node_modules/react/dist/react.js"></script>
    <script src="/js/react-markdown.min.js"></script>
  </body>
</html>
