/*
vim-hybrid theme by w0ng (https://github.com/w0ng/vim-hybrid)
*/

/*background color*/
.markdown-body pre {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #1d1f21;
    color: #c5c8c6;
}

/*selection color*/
.markdown-body .hljs::selection,
.markdown-body .hljs span::selection {
    background: #373b41;
    font-size: 14px;
}

.markdown-body .hljs::-moz-selection,
.markdown-body .hljs span::-moz-selection {
    background: #373b41;
}


/*color: fg_yellow*/
.markdown-body .hljs-title,
.markdown-body .hljs-name {
    color: #f0c674;
}

/*color: fg_comment*/
.markdown-body .hljs-comment,
.markdown-body .hljs-meta,
.markdown-body .hljs-meta .hljs-keyword {
    color: #707880;
}

/*color: fg_red*/
.markdown-body .hljs-number,
.markdown-body .hljs-symbol,
.markdown-body .hljs-literal,
.markdown-body .hljs-deletion,
.markdown-body .hljs-link {
    color: #cc6666
}

/*color: fg_green*/
.markdown-body .hljs-string,
.markdown-body .hljs-doctag,
.markdown-body .hljs-addition,
.markdown-body .hljs-regexp,
.markdown-body .hljs-selector-attr,
.markdown-body .hljs-selector-pseudo {
    color: #b5bd68;
}

/*color: fg_purple*/
.markdown-body .hljs-attribute,
.markdown-body .hljs-code,
.markdown-body .hljs-selector-id {
    color: #b294bb;
}

/*color: fg_blue*/
.markdown-body .hljs-keyword,
.markdown-body .hljs-selector-tag,
.markdown-body .hljs-bullet,
.markdown-body .hljs-tag {
    color: #81a2be;
}

/*color: fg_aqua*/
.markdown-body .hljs-subst,
.markdown-body .hljs-variable,
.markdown-body .hljs-template-tag,
.markdown-body .hljs-template-variable {
    color: #8abeb7;
}

/*color: fg_orange*/
.markdown-body .hljs-type,
.markdown-body .hljs-built_in,
.markdown-body .hljs-builtin-name,
.markdown-body .hljs-quote,
.markdown-body .hljs-section,
.markdown-body .hljs-selector-class {
    color: #de935f;
}

.markdown-body .hljs-emphasis {
    font-style: italic;
}

.markdown-body .hljs-strong {
    font-weight: bold;
}